@keyframes floatLeftRight {
  0% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(-10px);
  }
}

@keyframes floatTopBottom {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.floating-cloud {
  animation: floatLeftRight 2s ease-in-out infinite;
}

.floating-owl {
  animation: floatTopBottom 4s ease-in-out infinite;
}

@layer utilities {
  .animate-marquee {
    animation: marquee 15s infinite linear;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-70%);
    }
  }
}
