@import "tailwindcss";
.navbar-visible {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: transform 0.3s ease-in-out;
  transform: translateY(0);
}

.navbar-hidden {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-100%);
}

body {
  padding-top: 80px;
}
